@model IEnumerable<MoneySpent.Models.User>
@using MoneySpent.Models

@{
    ViewBag.Title = "LogIn";
}

<h2>LogIn</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.F_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.L_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th></th>
    </tr>

@foreach (User item in @Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.F_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.L_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserId }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserId })
        </td>
    </tr>
}

</table>
